<div class="accordions-container row">
  <h1>Explor’d FAQ</h1>
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Why do I need an account?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          So you can track which tours you have completed, work your way towards badges, and enjoy the full Explor’d experience.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Why does Explor’d need access to my location?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          We use your location to determine which tours are closest to you, and to provide access to audio tours when you are close enough.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Why can’t I access tour audio without visiting the location? 
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Because in order to have the full experience, we reckon you should visit a place to experience it! Once you are within 200 metres of the nominated location, you will be able to listen to the tour
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          What are badges?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Badges are a reward for completing tours. Complete a nominated set of tours (usually based around a theme) and you will receive a badge! Sometimes these badges will come with a reward for completion. See if you can get them all! Note: badges may be added, removed or modified at any time without notice.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Why aren’t there any tours near me?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          Because Explor’d is only just starting out! We’re trying to get as many high quality tours out there as we can, but this will take time. Keep an eye out – we are releasing more audio tours every month! If you know a place that absolutely MUST have an Explor’d site, get in contact!
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Is Explor’d available anywhere other than Australia?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          At this point, Explor’d tours are only available in Australia – we hope to change this in the future!
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          I have suggestions for improving the app, or want to partner for an Explor’d site. How can I get in contact?
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          We would love to hear from you! Use the contact us button within the app, or email us: <a href="mailto:info@explord.com.au">info@explord.com.au</a>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
