<div class="faq">
    
        <div class="title">
            <h1>FAQ</h1>
        </div>
        <div class="maindiv">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Why do I need an account?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>So you can track which tours you have completed, work your way towards badges, and enjoy the full Explor’d
                    experience.</p>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Why does Explor’d need access to my location?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>We use your location to determine which tours are closest to you, and to provide access to audio tours when you
                    are close enough.</p>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Why can’t I access tour audio without visiting the location?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>Because in order to have the full experience, we reckon you should visit a place to experience it! Once you are
                    within 200 metres of the nominated location, you will be able to listen to the tour</p>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        What are badges?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>Badges are a reward for completing tours. Complete a nominated set of tours (usually based around a theme) and
                    you will receive a badge! Sometimes these badges will come with a reward for completion. See if you can get them
                    all! Note: badges may be added, removed or modified at any time without notice.</p>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Why aren’t there any tours near me?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>Because Explor’d is only just starting out! We’re trying to get as many high quality tours out there as we can,
                    but this will take time. Keep an eye out – we are releasing more audio tours every month! If you know a place
                    that absolutely MUST have an Explor’d site, get in contact!</p>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Is Explor’d available anywhere other than Australia?
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <p>At this point, Explor’d tours are only available in Australia – we hope to change this in the future!</p>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        I have suggestions for improving the app, or want to partner for an Explor’d site. How can I get in contact?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                
                <p>We would love to hear from you! Use the contact us button within the app, or email us: <a href="mailto:info@explord.com.au">info@explord.com.au</a></p>

            </mat-expansion-panel>
        </div>
    
</div>