<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <label for="name">Name</label>
            <input class="form-control" placeholder="Name" formControlName="name">
        </div>

        <div class="form-group input-group-lg">
            <div class="md-form">
            <label for="categoryName">Tours Name</label>
                <select formControlName="tours" class="form-control custom-select" id="tours" [multiple]="true" [formControl]="selectControl">
                    <option [value]="null">Select Tours</option>
                    <option *ngFor="let tour of tours" id="tours" [value]="tour._id">{{tour.name}}</option>
                </select>
                <span class="text-danger"
                    *ngIf="(registerFormControl.tours.touched || submitted) && registerFormControl.tours.errors?.required">
                    tours name is required
                </span>
            </div>
        </div> 

        <div class="form-group">
            <label for="badgeIcon">Badge Icon</label>
            <input type="file" (change)="uploadProfile($event)" id="badgeIcon" name="badgeIcon" class="form-control" formControlName="badgeIcon" >
            <span class="text-danger"
                *ngIf="(registerFormControl.badgeIcon.touched || submitted) && registerFormControl.badgeIcon.errors?.required">
                Picture is required
            </span>
        </div>

        <div class="form-group input-group-lg">
            <label for="name">Location</label>
            <nb-toggle class="form-control" formControlName="toggle" labelPosition="start" value="1" (click)="showMyContainer=!showMyContainer">Location</nb-toggle>
        </div>

        <div class="form-group input-group-lg mapdiv" *ngIf="showMyContainer">
            <label for="location">Location</label>
              
            <div class="container">
                <div class="form-group">
                  <label>Enter address</label>
                  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                </div>
              
                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
              
                <h5>Address: {{address}}</h5>
                <div class="form-group input-group-lg">
                    <label for="Latitude">Latitude</label>
                    <input class="form-control" formControlName="latitude"  value="{{latitude}}">
                </div>
                <div class="form-group input-group-lg">
                    <label for="Longitude">Longitude</label>
                    <input class="form-control" formControlName="longitude" value="{{longitude}}">
                </div>
                
                
              </div>
              
        </div>

        <div class="form-group">
            <button class="btn btn-info" routerLink="../badge-list">Create</button>
        </div>
    </form>
</div>