<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
              <h2>Create Badge</h2>
          </li>
          <li class="nav-item right-btn">
            <a href="/pages/badge/badge-list" routerlink="/pages/badge/badge-list" class="btn nav-link">Back</a>
          </li>
        </ul>
        </nav>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <label for="name">Name</label>
            <input class="form-control" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group input-group-lg">
            <div class="md-form">
            <label for="tours">Tours Name</label>
                <select formControlName="tours" class="form-control" id="tours" [multiple]="true" [ngClass]="{ 'is-invalid': submitted && f.tours.errors }">
                    <option [value]="null" disabled>Select Tours</option>
                    <option *ngFor="let tour of tours" id="tours" [value]="tour._id">{{tour.name}}</option>
                </select>
                <div *ngIf="submitted && f.tours.errors" class="invalid-feedback">
                    <div *ngIf="f.tours.errors.required">Tours is required</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="badgeIcon">Badge Icon</label>
            <input type="file" (change)="uploadProfile($event)" id="badgeIcon" name="badgeIcon" class="form-control" formControlName="badgeIcon" [ngClass]="{ 'is-invalid': submitted && f.badgeIcon.errors }">
            <div *ngIf="submitted && f.badgeIcon.errors" class="invalid-feedback">
                <div *ngIf="f.badgeIcon.errors.required">Badge Icon is required</div>
            </div>
        </div>

        <div class="form-group input-group-lg">
            <nb-toggle formControlName="toggle" (click)=toggleDisplayDiv()>Location</nb-toggle>
        </div>

        <div class="form-group input-group-lg mapdiv" [hidden]="isNotShowDiv">
            <label for="location">Location</label>
            <div class="form-group">
                <label>Enter address</label>
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
            
            <!-- <h5>Address: {{address}}</h5>
            <div class="form-group input-group-lg">
                <label for="Latitude">Latitude</label>
                <input class="form-control" formControlName="latitude"  value="{{latitude}}">
            </div>
            <div class="form-group input-group-lg">
                <label for="Longitude">Longitude</label>
                <input class="form-control" formControlName="longitude" value="{{longitude}}">
            </div> -->
        </div>

        <div class="form-group">
            <button class="btn btn-info">Create</button>
        </div>
    </form>
</div>