<div class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
              <h2>Update Badge</h2>
          </li>
          <li class="nav-item right-btn">
            <a href="/pages/badge/badge-list" routerlink="/pages/badge/badge-list" class="btn nav-link">Back</a>
          </li>
        </ul>
        </nav>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group input-group-lg">
            <label for="name">Name</label>
            <input class="form-control" placeholder="Name" formControlName="name" [(ngModel)]="badges.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        
        <div class="form-group input-group-lg">
            <label for="tours">Change Tours Name</label>
            <ng-multiselect-dropdown 
                [placeholder]="'Select Tours'" 
                [data]="dropdownList" [(ngModel)]="selectedItems"
                formControlName="tours" 
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                >
            </ng-multiselect-dropdown>
        </div>

        <div class="form-group">
            <label for="badgeIcon">Badge Icon</label>
            <input type="file" (change)="uploadProfile($event)" id="badgeIcon" name="badgeIcon" class="form-control" formControlName="badgeIcon" accept=".png, .jpeg, .jpg">
        </div> 

        <div class="form-group input-group-lg">
            <label for="benefits">benefits</label>
            <textarea rows="4" cols="50" class="form-control" id="benefits" placeholder="benefits" formControlName="benefits" [(ngModel)]="badges.benefits" [ngClass]="{ 'is-invalid': submitted && f.benefits.errors }"></textarea>
            <div *ngIf="submitted && f.benefits.errors" class="invalid-feedback">
                <div *ngIf="f.benefits.errors.required">Benefits is required</div>
            </div>
        </div>

        <div class="form-group input-group-lg">
            <nb-toggle formControlName="toggle" (click)=toggleDisplayDiv(badges.toggle) [(ngModel)]="badges.toggle">Location</nb-toggle>
        </div>

        <div class="form-group input-group-lg mapdiv" [hidden]="isNotShowDiv" [ngClass]="{'show': badges.toggle == 1 }">
            <label for="location">Location</label>
            <div class="form-group">
                <input id="pac-input" class="form-control" type="text" placeholder="Search Box"/>
            </div>
            <div id="map"></div>
            
            <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map> -->
            
            <!-- <h5>Address: {{address}}</h5>
            <div class="form-group input-group-lg">
                <label for="Latitude">Latitude</label>
                <input class="form-control" formControlName="latitude"  value="{{latitude}}">
            </div>
            <div class="form-group input-group-lg">
                <label for="Longitude">Longitude</label>
                <input class="form-control" formControlName="longitude" value="{{longitude}}">
            </div> -->
        </div>

        <div class="form-group">
            <button class="btn btn-info">Save</button>
        </div>
    </form>
</div>