<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
     <li class="nav-item">
         <h2>Category Update</h2>
     </li>
     <li class="nav-item right-btn">
      <a href="/pages/categories/category-list" routerlink="/pages/categories/category-list" class="btn nav-link" ng-reflect-router-link="/pages/categories/category-list">Back</a>
     </li>
  </ul>
 </nav>
<div style="width: 500px; margin: auto;">
  <div class="submit-form">
      <form [formGroup]="form">
        <div class="form-group" [hidden]="isShowDiv">
          <input type="image" src="{{category.icon}}">
        </div>
        <div class="form-group" [hidden]="isNotShowDiv">
          <label for="icon">Change Icon</label>
          <input type="file" (change)="uploadFile($event)" class="form-control" name="icon" accept=".png, .jpeg, .jpg">
        </div>
        <div class="form-group input-group-lg" [hidden]="isShowDiv">
          <label for="name">Name</label>
          <input class="form-control" placeholder="Name" formControlName="name" disabled name="name" [(ngModel)]="category.name">
        </div>
        <div class="form-group input-group-lg" [hidden]="isNotShowDiv">
          <label for="name">Name</label>
          <input class="form-control" placeholder="Name" formControlName="name" name="name" [(ngModel)]="category.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
        </div>
      
      <div class="form-group">
          <button (click)=toggleDisplayDiv() [hidden]="isShowDiv" class="btn btn-info" style="margin-left: 10px;">Update</button>
          <button [hidden]="isNotShowDiv" (click)="submitForm()" class="btn btn-info" style="margin-left: 10px;">Save</button>
      </div>
  </form>
  </div>
</div>