<div class="panel panel-primary">
    <div class="panel-heading">
      
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Icon</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories ; let id = index">
            <td>{{id + 1}}</td>
            <td>{{category.name}}</td>
            <td>{{category.icon}}</td>
            <td>
              <button routerLink="../update/{{category._id}}" class="btn btn-info">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  