<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
     <li class="nav-item">
         <h2>Create Category</h2>
     </li>
     <li class="nav-item right-btn">
      <a href="/pages/categories/category-list" routerlink="/pages/categories/category-list" class="btn nav-link" ng-reflect-router-link="/pages/categories/category-list">Back</a>
     </li>
  </ul>
 </nav>
<div style="width: 500px; margin: auto;">
  <div class="submit-form">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="icon">Icon</label>
          <input type="file" (change)="uploadFile($event)" class="form-control" name="icon" [ngClass]="{ 'is-invalid': (isFormSubmitted && form.controls.icon.errors) || (!form.controls.icon.pristine && form.controls.icon.invalid) }" accept=".png, .jpeg, .jpg">
          <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && form.controls.icon.errors) || (!form.controls.icon.pristine && form.controls.icon.invalid)">
              <div *ngIf="form.controls.icon.errors.required">Email is required</div>
          </div>
        </div>
        <div class="form-group input-group-lg">
          <label for="name">Name</label>
          <input class="form-control" placeholder="Name" formControlName="name" name="name" [ngClass]="{ 'is-invalid': (isFormSubmitted && form.controls.name.errors) || (!form.controls.name.pristine && form.controls.name.invalid) }">
          <div class="invalid-feedback"
              *ngIf="(isFormSubmitted && form.controls.name.errors) || (!form.controls.name.pristine && form.controls.name.invalid)">
              <div *ngIf="form.controls.name.errors.required">Name is required</div>
          </div>
        </div>
      <div class="form-group">
          <button class="btn btn-info">Create</button>
      </div>
      <div class="progress-loader" [hidden]="!loading">
        <div class="loading-spinner">
            <img src="assets/images/loader.gif">
            <span class="loading-message">Progress {{percentDone}} %</span>
        </div>
    </div>
  </form>
  </div>
</div>