<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <h2>Tour Update</h2>
        </li>
        <li class="nav-item right-btn">
            <a href="/pages/tours/tours-list" routerlink="/pages/tours/tours-list" class="btn nav-link">Back</a>
        </li>
    </ul>
</nav>
<div class="container">
    <form [formGroup]="form">
        <div class="form-group">
            <label for="picture">Change Picture</label>
            <input type="file" multiple (change)="uploadProfile($event)" id="picture" name="picture"
                class="form-control" formControlName="picture" accept=".png, .jpeg, .jpg">
        </div>

        <div class="form-group input-group-lg">
            <label for="name">Name</label>
            <input class="form-control" placeholder="Name" id="name" name="name" formControlName="name"
                [(ngModel)]="tour.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group input-group-lg">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" placeholder="Description" formControlName="description"
                [(ngModel)]="tour.description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Name is required</div>
            </div>
        </div>

        <div class="form-group input-group-lg">
            <label for="tours">Category Name</label>
            <ng-multiselect-dropdown [placeholder]="'Select Tours'" [data]="dropdownList" [(ngModel)]="selectedItems"
                formControlName="categoryName" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
        </div>

        <div class="form-group">
            <label for="audio">Change Audio</label>
            <input type="file" (change)="uploadAudio($event)" name="audio" id="audio" class="form-control"
                formControlName="audio" accept=".mp3, .wav">
        </div>

        <div class="form-group input-group-lg">
            <label for="transcript">Transcript</label>
            <textarea class="form-control" placeholder="Transcript" id="transcript" formControlName="transcript"
                [(ngModel)]="tour.transcript" [ngClass]="{ 'is-invalid': submitted && f.transcript.errors }"></textarea>
            <div *ngIf="submitted && f.transcript.errors" class="invalid-feedback">
                <div *ngIf="f.transcript.errors.required">Name is required</div>
            </div>
        </div>

        <!-- <div class="form-group input-group-lg">
            <label for="feedback">Update Feedback</label>
            <textarea class="form-control" placeholder="Update Feedback" id="feedback" formControlName="feedback" [(ngModel)]="tour.feedback" [ngClass]="{ 'is-invalid': submitted && f.feedback.errors }"></textarea>
            <div *ngIf="submitted && f.feedback.errors" class="invalid-feedback">
                <div *ngIf="f.feedback.errors.required">Feedback is required</div>
            </div>
        </div> -->

        <div class="form-group input-group-lg">
            <label for="location">Location</label>
            <div class="form-group">
                <input id="pac-input" class="form-control" type="text" placeholder="Search Box" />
            </div>
            <div id="map"></div>
        </div>
        <div class="form-group">
            <button (click)="submitForm()" class="btn btn-info" style="margin-left: 15px;">Update</button>
        </div>
        <div class="progress-loader" [hidden]="!loading">
            <div class="loading-spinner">
                <img src="assets/images/loader.gif">
                <span class="loading-message">Progress {{percentDone}} %</span>
            </div>
        </div>
        <!-- <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Tours update</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              hello
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </ng-template> -->
    </form>
</div>