
img {width: 90px; height: auto;}
td div.binding {
    display: inline-block;
    margin-right: 0px;
    border-right: 2px solid #000;
    padding: 0 10px;
}
td div.binding:last-child {border-right: none;}
th {
    width: 170px;
}
.bg-primary {
    background-color: #17a2b8 !important;
    border-color:  #17a2b8 !important;
}
li.nav-item.right-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #fff;
}
li.nav-item.left-btn {
    background: #fff;
}
li.nav-item.right-btn a.nav-link, li.nav-item.left-btn a.nav-link{color: #000 !important; text-decoration: none; font-weight: 300;}
.bg-primary {
    background-color: #17a2b8 !important;
    border-color:  #17a2b8 !important;
}
nav.navbar.navbar-expand-sm.bg-primary.navbar-dark {
    height: 70px;
}
li h2 {color: #fff;}
.title h1 {display: inline-block;padding: 0; margin: 0;}
.title a.btn.btn-primary {float: right;background: #117a8b;padding: 10px 20px !important;border: #117a8b;color: #fff !important;text-decoration: none;}
agm-map {
    height: 300px;
}
button, button:focus{
    background-color: inherit;
    border: none;
    width: 30px;
    height: 30px;
    box-shadow: none;
    outline: none;
}
button svg {
    overflow: hidden;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}
button svg:hover{
    fill: red;
}