agm-map {
    height: 300px;
}
th{
    width: 170px;
}
li.nav-item.right-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #fff;
}
li.nav-item.left-btn {
    background: #fff;
}
li.nav-item.right-btn a.nav-link, li.nav-item.left-btn a.nav-link{color: #000 !important; text-decoration: none; font-weight: 300;}
.bg-primary {
    background-color: #17a2b8 !important;
    border-color:  #17a2b8 !important;
}
nav.navbar.navbar-expand-sm.bg-primary.navbar-dark {
    height: 70px;
}
li h2 {color: #fff;margin: 0;}
img {width: 90px; height: auto;}
td p {
    display: inline-block;
    margin-right: 0px;
    border-right: 2px solid #000;
    padding: 0 10px;
}
td p:first-child {padding-left: 0;}
td p:last-child {border-right: none;}
tr.hide {
    display: none;
}