<div class="panel panel-primary">
    <div class="panel-heading">      
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>No Of Toures</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let badge of badges ; let id = index">
            <td>{{ id + 1}}</td>
            <td>{{badge.name}}</td>
            <td>{{badge.noOFtoures}}</td>
            <td>
                <button routerLink="../update/{{badge._id}}" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="Badge(badge.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>