
  .card {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    transition: 0.5s;
    min-height: 400px;
  }
  
  
  .card .imgBx .fab {
    font-size: 3em;
  }
  
  .card .imgBx h3 {
    position: relative;
    margin-top: 10px;
    color: #fff;
    text-align: center;
  }
  .imgBx {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
  .card .content {
    position: relative;
    background: #fff;
    width: 100%;
    height: auto;
    padding: 20px;
  }
  
  .card .content p {
    font-size: 13px;
  }
  
  .maincard_detail {
    padding: 100px 0;
}
.table th, .table td {
    padding: 10px 0;
}
.table td:nth-child(3){
    text-align: right;
}
.table thead th {border-bottom: none;}

@media only screen and (max-width:767px)  {
  .card {
    margin-bottom: 20px;
}
}